{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <!-- Skill Section -->
    <div class="item_bottom">
        <div class="sub-heading">{{ particle.title }}</div>
            {% for item in particle.items %}
                    <label>{{ item.title }}</label>
                    <div class="skill-bar compact" data-value="{{ item.percent }}%">
                        <div class="bar">
                            <div class="fill" style="width: {{ item.percent }}%;">
                                <div class="value">{{ item.percent }}%</div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <!-- skills end -->

    {% endblock %}
