{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <!-- History Year -->
    <ul class="history {{ particle.class|e }}">
        {% for item in particle.items %}
            <li>
                <div class="heading">
                    <div class="title">{{ item.title }}</div>
                    <div class="icon">
                        {% if particle.section == 'work' %}
                            <i class="fa fa-briefcase"></i>
                        {% else %}
                            <i class="fa fa-graduation-cap"></i>
                        {% endif %}
                    </div>
                    <div class="datetime">{{ item.date }}</div>
                </div>
                <p>{{ item.desc }}</p>
                <div class="aff uppercase">
                    {{ item.label }}
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
